%svg-common {
	background: url("../img/svgsprite.css.svg") no-repeat;
}

._svg-icon-accordion--img--minus-pink {
	@extend %svg-common;
	background-position: 74.4186046511628% 62.59259259259258%;
}

._svg-icon-accordion--img--minus-pink-dims {
	width: 10px;
	height: 10px;
}

._svg-icon-accordion--img--plus-gray {
	@extend %svg-common;
	background-position: 86.04651162790698% 62.59259259259258%;
}

._svg-icon-accordion--img--plus-gray-dims {
	width: 10px;
	height: 10px;
}

._svg-icon-tabs--img--design {
	@extend %svg-common;
	background-position: 0 0;
}

._svg-icon-tabs--img--design-dims {
	width: 32px;
	height: 32px;
}

._svg-icon-tabs--img--gardening {
	@extend %svg-common;
	background-position: 50% 0;
}

._svg-icon-tabs--img--gardening-dims {
	width: 32px;
	height: 32px;
}

._svg-icon-tabs--img--green-roofs {
	@extend %svg-common;
	background-position: 0 100%;
}

._svg-icon-tabs--img--green-roofs-dims {
	width: 32px;
	height: 32px;
}

._svg-icon-tabs--img--landing {
	@extend %svg-common;
	background-position: 50% 100%;
}

._svg-icon-tabs--img--landing-dims {
	width: 32px;
	height: 32px;
}

._svg-icon-tabs--img--landscaping {
	@extend %svg-common;
	background-position: 100% 0;
}

._svg-icon-tabs--img--landscaping-dims {
	width: 32px;
	height: 23.13px;
}

._svg-icon-tabs--img--vicons {
	@extend %svg-common;
	background-position: 100% 43.37146071629477%;
}

._svg-icon-tabs--img--vicons-dims {
	width: 32px;
	height: 10.67px;
}

